
/* ============== MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    .sliderStyles {
        height: 50%,
    }
} 

/* ============== MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
    .sliderStyles {
        grid-template-columns: 1fr;
        gap: 1rem;
        font-size: 12px;
        text-align: center;
    }
}