.portfolio__container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 0.8rem;
    border-radius:2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    margin-left: 1rem;
    margin-right: 1rem;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: #1F305E;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    margin:9px;
}

.portfolio__item h3 {
    margin: 1.2 0 2rem;
    text-decoration: underline;
}

.portfolio__item-cta {
    display: center;
    gap: 1rem;
    padding: 2rem;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        font-size: 14px;
        text-align: center;
    }
} 

/* ============== MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
        font-size: 12px;
        text-align: center;
    }
}
